.largeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 13px;
}

.largeIcon img {
  width: clamp(32px, 5vw, 50px);
  height: auto;
}

.primary {
  background-color: #ffe3dd;
}
