.wrapper {
  background-color: #f9f9f9;
  margin: 0 auto;
  padding: 60px 16px 400px 16px;
  border-radius: 20px;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    max-width: 360px;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    max-width: 1200px;
  }
}
