.icon {
  padding: 7px 6px;
  background-color: white;
  border-radius: 8px;
  gap: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: clamp(24px, 3vw, 50px);
  height: auto;
}
